
body {
    background-color: #fff;
}

.panel {
    background-color: #eee;
    border: 1px solid #aaa;
    margin: 5px;
}

.tc-section-title {
    margin: 3px;
}

.tc-expander {
    cursor:pointer;
}

.tc-games {
    background-color: #eee;
    border: 1px solid #aaa;
    margin: 5px;
}

.tc-rounds {
    background-color: #eee;
    border: 1px solid #aaa;
    margin: 5px;
}

.tc-moves {
    background-color: #eee;
    border: 1px solid #aaa;
    margin: 5px;
}
