
body {
    background-color: #fff;
}

.panel {
    background-color: #ddd;
    border: 1px solid #333;
    margin: 5px;
}

.tc-section-title {
    margin: 3px;
}

.tc-expander {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
}

.tc-games {
    background-color: #ddd;
    border: 1px solid #333;
    margin: 5px;
}

.tc-rounds {
    background-color: #ddd;
    border: 1px solid #333;
    margin: 5px;
}

.tc-moves {
    background-color: #fff;
    border: 0px solid #ddd;
    margin: 5px;
}
