<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel=stylesheet type=text/css
        href="{{ url_for('static', filename='css/telecan.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery-2.1.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery-ui.js') }}"></script>

    <title>Descramble</title>
</head>

<body>

<div id="body_container" class="container">
{%block main_content%}
{%endblock%}
</div>

</body>
</html>
