{% extends "base.html" %}
{%block title%}{%endblock%}
{%block main_content%}

<div id="masthead">
    <h1>Telecan</h1>
    Hello {{username | safe}}, (<a class="tc-link" id="sign-out-button">sign out</a>)
</div>

<div id="games" class="tc-games"></div>

<div class="panel" id="new-game-form">
    Title
    <div>
        <textarea id="new-game-title" class="form-input"></textarea>
    </div>
    Description
    <div>
        <textarea id="new-game-description" class="form-input"></textarea>
    </div>
    <div>
        <button id="new-game-button">NEW GAME</button>
    </div>
</div>

<script>

$('#new-game-button').click(
    function(evt)
    {
        $('#output').empty();
        $.when( $.ajax({ type: "POST", url: "/new-game", dataType: "text",
            data: {
                "title":$("#new-game-title").val(),
                "description":$("#new-game-description").val(),
            },
        }) ).then(
            function(result)
            {
                var response = JSON.parse(result);
                $("#output").append(result);
                refresh();
            }
        );
    }
)

function populateMoves(movesInfo, $moves)
{
    if( movesInfo.moves )
    {
        for( var i = 0; i < movesInfo.moves.length; ++i )
        {
            var moveInfo = movesInfo.moves[i];
            var $move = $("<div>");
            var $content = $("<div>");
            $content.text(moveInfo.content);
            $move.append($content);
            $moves.append($move);
        }
    }
}

function fetchRoundMoves(round_id, $moves)
{
    $.when( $.ajax({
        type: "GET",
        url: "/moves",
        dataType: "text",
        data: {"round_id":round_id,},
    })).then(
        function(result)
        {
            populateMoves(JSON.parse(result), $moves);
        }
    ).fail(
        function()
        {
           $moves.append("Moves not found");
        }
    );
}

function connectRoundClickHandler($round, roundId, $link)
{
    $link.addClass("tc-expander");
    $link.click(
        function(evt)
        {
            if( $round.hasClass("tc-expanded") )
            {
                $round.find(".tc-moves").remove();
                $round.removeClass("tc-expanded")
            }
            else
            {
                var $moves = $("<div>").addClass("tc-moves");
                $round.append($moves);
                fetchRoundMoves(roundId, $moves);
                $round.addClass("tc-expanded")
            }
        }
    );
}

function populateRounds(roundsInfo, $rounds)
{
    if( roundsInfo.rounds )
    {
        for( var i = 0; i < roundsInfo.rounds.length; ++i )
        {
            var roundInfo = roundsInfo.rounds[i];
            var $round = $("<div>");
            var $idspan = $("<span>").addClass("tc-section-title");
            $idspan.text(roundInfo.id);
            var $title = $("<div>");
            $title.append($idspan);
            $round.append($title);

            for( var i = 0; i < roundInfo.players.length; ++i )
            {
                var $namespan = $("<span>");
                $namespan.addClass("tc-section-title");
                $namespan.text(roundInfo.players[i].username);
                $title.append($namespan);
            }
            $rounds.append($round);

            connectRoundClickHandler($round, roundInfo.id, $title);
        }
    }
}

function fetchGameRounds(game_id, $rounds)
{
    $.when( $.ajax({
        type: "GET",
        url: "/rounds",
        dataType: "text",
        data: {"game_id":game_id,},
    })).then(
        function(result)
        {
            populateRounds(
                JSON.parse(result),
                $rounds
            );
        }
    ).fail(
        function()
        {
           $rounds.append("Rounds not found");
        }
    );
}

function connectGameClickHandler($game, gameId, $link)
{
    $link.addClass("tc-expander");
    $link.click(
        function(evt)
        {
            if( $game.hasClass("tc-expanded") )
            {
                $game.find(".tc-rounds").remove();
                $game.removeClass("tc-expanded");
            }
            else
            {
                var $rounds = $("<div>").addClass("tc-rounds");
                $game.append($rounds);
                fetchGameRounds(gameId, $rounds);
                $game.addClass("tc-expanded");
            }
        }
    );
}

function makeGame(gameInfo)
{
    var $game = $("<div>");
    var $title = $("<span>");
    var $deleteButton = $("<span>")
    $title.addClass("tc-section-title")
    $title.text(gameInfo.title);
    $game.append( $title );
    $game.append( $deleteButton );
    $deleteButton.text("(delete)");
    $deleteButton.addClass("tc-link");
    $("#games").append($game);

    $deleteButton.click(
        function(evt)
        {
            $('#output').empty();
            $.when( $.ajax({ type: "POST", url: "/delete-game", dataType: "text",
                data: {
                    "id":gameInfo.id,
                },
            }) ).then(
                function(result)
                {
                    refresh();
                }
            );
        }
    )

    connectGameClickHandler($game, gameInfo.id, $title);
}

function populateGames(gamesInfo)
{
    if( gamesInfo.games )
    {
        for( var i = 0; i < gamesInfo.games.length; ++i )
        {
            makeGame(gamesInfo.games[i]);
        }
    }
}

function fetchGames()
{
    $.when( $.ajax({
        type: "GET",
        url: "/games",
        dataType: "text",
        data: {"username":"{{username | safe}}",},
    })).then(
        function(result)
        {
            populateGames(JSON.parse(result));
        }
    ).fail(
        function()
        {
           $("#games").append("Games not found");
        }
    );
}

function refresh()
{
    $("#sign-out-button").click(
        function(evt)
        {
            $.when( $.ajax({
                type: "POST",
                url: "/sign-out",
                dataType: "text",
                data: {},
            })).then(
                function(result)
                {
                    window.location.href = ""
                }
            ).fail(
                function()
                {
                    window.location.href = ""
                }
            );
        }
    )

    $("#games").empty();
    fetchGames();
}

$(document).ready(refresh);
</script>

{%endblock%}
