{% extends "base.html" %}
{%block title%}{%endblock%}
{%block main_content%}

<div id="masthead">
    <h1>Telecan</h1>
</div>

<div id="games" class="game-list"></div>

<script>

function populateRounds(roundInfo, $rounds)
{
    if( roundInfo.rounds )
    {
        for( var i = 0; i < roundInfo.rounds.length; ++i )
        {
            var round = roundInfo.rounds[i];
            $rounds.append(round.id);
        }
    }
}

function fetchGameRounds(game_id, $rounds)
{
    $.when( $.ajax({
        type: "GET",
        url: "/rounds",
        dataType: "text",
        data: {"game_id":game_id,},
    })).then(
        function(result)
        {
            populateRounds(
                JSON.parse(result),
                $("#games").append($("<div>"))
            );
        }
    ).fail(
        function()
        {
           $("#games").append("Rounds not found");
        }
    );
}

function populateGames(gameInfo)
{
    if( gameInfo.games )
    {
        for( var i = 0; i < gameInfo.games.length; ++i )
        {
            var game = gameInfo.games[i];
            $("#games").append(
                $("<div>").append( game.title ).click(
                    function(evt)
                    {
                        fetchGameRounds(game.id);
                    }
                )
            );
        }
    }
}

function fetchGames()
{
    $.when( $.ajax({
        type: "GET",
        url: "/games",
        dataType: "text",
        data: {"username":"{{username | safe}}",},
    })).then(
        function(result)
        {
            populateGames(JSON.parse(result))
        }
    ).fail(
        function()
        {
           $("#games").append("Games not found");
        }
    );
}

function refresh()
{
    $("#games").empty();
    fetchGames();
}

$(document).ready(refresh);
</script>

{%endblock%}
