{% extends "base.html" %}
{%block title%}{%endblock%}
{%block main_content%}

<div id="masthead">
    <h1>Telecan</h1>
</div>

<div id="games" class="game-list"></div>

<script>

function populateRounds(roundInfo, $rounds)
{
    if( roundInfo.rounds )
    {
        for( var i = 0; i < roundInfo.rounds.length; ++i )
        {
            var round = roundInfo.rounds[i];
            $rounds.append(round.id);
        }
    }
}

function fetchGameRounds(game_id, $rounds)
{
    $.when( $.ajax({
        type: "GET",
        url: "/rounds",
        dataType: "text",
        data: {"game_id":game_id,},
    })).then(
        function(result)
        {
            populateRounds(
                JSON.parse(result),
                $rounds
            );
        }
    ).fail(
        function()
        {
           $("#games").append("Rounds not found");
        }
    );
}

function populateGames(gamesInfo)
{
    if( gamesInfo.games )
    {
        for( var i = 0; i < gamesInfo.games.length; ++i )
        {
            var gameInfo = gamesInfo.games[i];
            var $game = $("<div>");

            $("#games").append($game);
            $game.append( gameInfo.title );
            $game.click(
                function(evt)
                {
                    $game.find(".tc-rounds").remove();
                    var $rounds = $("<div>").addClass("tc-rounds");
                    $game.append($rounds);
                    fetchGameRounds(gameInfo.id, $rounds);
                }
            );
        }
    }
}

function fetchGames()
{
    $.when( $.ajax({
        type: "GET",
        url: "/games",
        dataType: "text",
        data: {"username":"{{username | safe}}",},
    })).then(
        function(result)
        {
            populateGames(JSON.parse(result));
        }
    ).fail(
        function()
        {
           $("#games").append("Games not found");
        }
    );
}

function refresh()
{
    $("#games").empty();
    fetchGames();
}

$(document).ready(refresh);
</script>

{%endblock%}
